<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/equipment/equipment.css?ver=2.12">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        비품 신청서
    </div>
    <div class="row" style="display: inline-block">
        <div style="float: right;width: fit-content">
            <button type="button" class="btn btn-outline-secondary btn-sm"
                    onclick="addRow()">항목추가
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm"
                    onclick="deleteRow()">항목삭제
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table-bordered">
            <thead>
            <tr>
                <th width="5%">
                    <input type="checkbox" name="equipment" id="all" value="all">
                </th>
                <!--                <th width="5%">No</th>-->
                <th width="50%">품명</th>
                <th width="10%">수량</th>
                <th width="35%">비고</th>
            </tr>
            </thead>
            <tbody id="applyMyEquipmentList">
            <tr>
                <td>
                    <input type="checkbox" name="equipment" value="0">
                </td>
                <td>
                    <input type="text" id="0FixturesName">
                </td>
                <td>
                    <input type="text" id="0Amount"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </td>
                <td>
                    <input type="text" id="0Memo">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" style="margin: 3rem 0;display: inline-block">
        <div style="float: right;padding: 0;width: fit-content">
            <button type="button" class="btn btn-secondary" onclick="location.href='/equipment/apply'">목록으로</button>
            <button type="button" class="btn btn-primary" onclick="applyEquipment()">신청하기</button>
        </div>
    </div>
</div>
</body>

</html>

<script>
    <%- include ('apply-write.js') %>
</script>