<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/equipment/equipment.css?ver=2.9">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        비품 신청서
    </div>

    <div class="row">
        <table class="table-bordered">
            <thead>
            <tr>
                <th width="5%">No</th>
                <th width="40%">품명</th>
                <th width="10%">수량</th>
                <th width="25%">비고</th>
                <th width="10%">승인</th>
                <th width="10%">구매</th>
            </tr>
            </thead>
            <tbody id="equipmentList">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="btn-row">
            <div id="controlBtn" style="display: none">
                <button type="button" class="btn btn-secondary"
                        onclick="loadModifyPage()">수정</button>
                <button type="button" class="btn btn-danger"
                        onclick="deleteAlertMyApply()">삭제</button>
            </div>

            <div>
                <button type="button" class="btn btn-outline-secondary"
                        onclick="location.href='/equipment/apply'">목록으로</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>
    <%- include ('apply-view.js') %>
</script>