<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/manage-schedule.css?version=1.2">

</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>

<div id="main">
    <div class="row" style="width: 120rem">
        <div class="col-lg content-box schedule-board" style="margin-right: 5px !important;">
            <%- include ('manage-schedule-list.ejs') %>
        </div>

        <div class="col-lg content-box schedule-board" id="detailSchedule" style="visibility: hidden">
            <%- include ('manage-schedule-detail.ejs') %>
        </div>

        <%- include ('manage-schedule-modal.ejs') %>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('../common/check-data.js') %>
    <%- include ('manage-schedule.js') %>

</script>