<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/schedule/schedule.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row">
        <div class="col-9">
            <div id="calendar"></div>
        </div>
        <div class="col-3 scroll">
            <div>
                <button type="button" class="btn btn-primary" onclick="location.href='/schedule/manage-schedule'">근무일정관리</button>
                <button type="button" class="btn btn-success" onclick="location.href='/schedule/manage-vacation'">휴가일정관리</button>
            </div>

            <div class="content-box" style="display: flex;margin-top: 1.1rem !important;">
                <div style="width: 50%">
                    <div class="form-check">
                        <input class="form-check-input all" type="checkbox" id="checkViewOptionAll" checked onchange="checkViewOption()">
                        <label class="form-check-label" for="checkViewOptionAll">
                            회사 일정
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input dep" type="checkbox" id="checkViewOptionDep" checked onchange="checkViewOption()">
                        <label class="form-check-label" for="checkViewOptionDep">
                            팀 일정
                        </label>
                    </div>
                </div>
                <div style="width: 50%">
                    <div class="form-check">
                        <input class="form-check-input own" type="checkbox" id="checkViewOptionOwn" checked onchange="checkViewOption()">
                        <label class="form-check-label" for="checkViewOptionOwn">
                            내 일정
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input vac" type="checkbox" id="checkViewOptionVac" checked onchange="checkViewOption()">
                        <label class="form-check-label" for="checkViewOptionVac">
                            휴가 일정
                        </label>
                    </div>
                </div>

            </div>
            <div class="content-box schedule-board">
                <div class="title" id="scheduleTitle">일정을 선택해주세요</div>
                <div class="time" id="scheduleTime"></div>
                <hr>
                <div class="memo scroll" id="scheduleMemo">
                </div>
                <hr>
                <div class="name" id="scheduleName"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('../common/check-data.js') %>
    <%- include ('schedule.js') %>

</script>