<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/schedule/schedule.css?ver=2.5">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row" style="min-width: 120rem">
        <div class="col-9">
            <div id="calendar"></div>
        </div>
        <div class="col-3 scroll">
            <div class="row">
                <button type="button" class="btn btn-primary" onclick="setCreateSchedule()"
                        data-bs-toggle="modal" data-bs-target="#scheduleModal">
                    일정등록
                </button>
            </div>

            <div class="row">
                <div class="content-box" style="display: flex;margin-top: 1.1rem !important;">
                    <div style="width: 50%">
                        <div class="form-check">
                            <input class="form-check-input all" type="checkbox" id="checkViewOptionAll" checked
                                   name="viewOption" value="all" onchange="chkViewOption()">
                            <label class="form-check-label" for="checkViewOptionAll">
                                회사 일정
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input dep" type="checkbox" id="checkViewOptionDep" checked
                                   name="viewOption" value="dep" onchange="chkViewOption()">
                            <label class="form-check-label" for="checkViewOptionDep">
                                팀 일정
                            </label>
                        </div>
                    </div>
                    <div style="width: 50%">
                        <div class="form-check">
                            <input class="form-check-input own" type="checkbox" id="checkViewOptionOwn" checked
                                   name="viewOption" value="own" onchange="chkViewOption()">
                            <label class="form-check-label" for="checkViewOptionOwn">
                                내 일정
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input vac" type="checkbox" id="checkViewOptionVac" checked
                                   onchange="chkViewOption()">
                            <label class="form-check-label" for="checkViewOptionVac">
                                휴가 일정
                            </label>
                        </div>
                    </div>
                    <div style="width: 50%">
                        <div class="form-check">
                            <input class="form-check-input ann" type="checkbox" id="checkViewOptionAnn" checked
                                   onchange="chkViewOption()">
                            <label class="form-check-label" for="checkViewOptionOwn">
                                기념일
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="content-box">
                    <div class="row main-title">내 일정 목록</div>
                    <div class="row scroll" style="height: 40rem;max-height: 40rem">
                        <table>
                            <tbody id="myScheduleList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <%- include ('schedule-modal.ejs') %>
        </div>
    </div>
</div>
</body>

</html>

<script>
    <%- include ('schedule.js') %>
</script>