<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('./part/head.ejs') %>
    <script type="text/javascript" src="https://jsgetip.appspot.com"></script>
    <link rel="stylesheet" type="text/css" href="/css/index.css?version=1.2">
</head>

<header>
    <%- include ('part/header.ejs') %>
</header>

<body>
<%- include ('part/menu.ejs') %>
<div id="main">
    <div class="row main-title" id="today">
    </div>
    <div class="row company-info">
        <div class="col-lg text-left">
            구이앤금우통신 - <span id="departmentName"></span>
        </div>
        <div class="col-lg text-right">
            직원 수: <span id="memberCount"></span>명
        </div>
    </div>

    <div class="row content-box">
        <div class="content-box-title">🔹 주간일정</div>
        <div id="calendar"></div>
    </div>
    <div class="row">
        <div class="col-xl content-box">
            <div class="content-box-title">🔹 출퇴근기록</div>
            <div class="row attendance-self">
                <div class="attendance-self-btns">
                    <button type="button" class="btn btn-primary"
                            onclick="checkWork('onWork')">
                        <img src="/images/icon-on-work.png">
                        <div>출근</div>
                    </button>
                    <button type="button" class="btn btn-danger"
                            onclick="checkWork('offWork')">
                        <img src="/images/icon-off-work.png">
                        <div>퇴근</div>
                    </button>
                </div>
                <div class="attendance-self-time">
                    <table class="table-bordered">
                        <thead>
                        <tr>
                            <th width="50%">출근</th>
                            <th width="50%">퇴근</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="onWorkTime">　</td>
                            <td id="offWorkTime">　</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl content-box">
            <div class="content-box-title">🔹 공지사항</div>
            <table class="board">
                <thead>
                <tr>
                    <th width="10%">No</th>
                    <th width="50%">제목</th>
                    <th width="20%">작성자</th>
                    <th width="20%">등록일</th>
                </tr>
                </thead>
                <tbody id="noticeList">
                <tr class="important">
                    <td><span class="badge bg-danger">필독</span></td>
                    <td class="board-title" onclick="downloadManual()">구이앤금우통신 ERP 사용자 매뉴얼</td>
                    <td>관리자</td>
                    <td>2021.06.30</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row attendance-board">
        <div class="col-md content-box on-work">
            출근
            <div class="count" id="onWork"></div>
        </div>
        <div class="col-md content-box late-work">
            지각
            <div class="count" id="lateWork"></div>
        </div>
        <div class="col-md content-box yet-work">
            미출근
            <div class="count" id="yetWork"></div>
        </div>
        <div class="col-md content-box off-work">
            퇴근
            <div class="count" id="offWork"></div>
        </div>
        <div class="col-md content-box vacation">
            휴가
            <div class="count" id="vacation"></div>
        </div>
    </div>

    <div class="row content-box selected-list" id="selectedList">
    </div>

</div>
</body>

</html>


<script>
    <%- include ('index.js') %>
</script>