<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('./part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/index.css?version=1.2">
</head>

<header>
    <%- include ('part/header.ejs') %>
</header>

<body>
<%- include ('part/menu.ejs') %>
<div id="main">
    <div class="row main-title" id="today">
    </div>
    <div class="row company-info">
        <div class="col-lg" style="text-align: left">
            구이앤금우통신 - <span id="departmentName"></span>
        </div>
        <div class="col-lg" style="text-align: right">
            총 직원 수: <span id="memberCount"></span>명
        </div>
    </div>

    <div class="row content-box">
        <div class="content-box-title">🔹 주간일정</div>
        <div id="calendar"></div>
    </div>
    <div class="row">
        <div class="col-xl content-box">
            <div class="content-box-title">🔹 출퇴근기록</div>
            <div class="row attendance-self">
                <div style="width: fit-content;margin: 1rem">
                    <button type="button" class="btn btn-primary"
                            onclick="request('POST','attendance/onWork', onWork)">
                        <img src="/images/icon-on-work.png">
                        <div>출근</div>
                    </button>
                    <button type="button" class="btn btn-danger"
                            onclick="request('POST','attendance/offWork', offWork)">
                        <img src="/images/icon-off-work.png">
                        <div>퇴근</div>
                    </button>
                </div>
                <div style="width: 45rem">
                    <table>
                        <thead>
                        <tr>
                            <th width="50%">출근</th>
                            <th width="50%">퇴근</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td id="onWorkTime">　</td>
                            <td id="offWorkTime">　</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xl content-box">
            <div class="content-box-title">🔹 공지사항</div>
            <table class="board">
                <thead>
                <tr>
                    <th width="10%">No</th>
                    <th width="50%">제목</th>
                    <th width="20%">작성자</th>
                    <th width="20%">등록일</th>
                </tr>
                </thead>
                <tbody id="noticeList">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row attendance-board">
        <div class="col-md content-box"
             style="border-top: 5px solid #576cfa;color: #1354d9">
            출근
            <div class="count" id="onWork"></div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid #ffb43d; color: #e07c00">
            미출근
            <div class="count" id="yetWork"></div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid #ff4848;color: #ff2d47">
            지각
            <div class="count" id="lateWork"></div>
        </div>
        <div class="col-md content-box"
             style="border-top: 5px solid #00bd00;color: #01853d">
            휴가
            <div class="count" id="vacation"></div>
        </div>
    </div>

</div>
</body>

</html>

<script>
    <%- include ('index.js') %>
</script>