<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('part/head.ejs') %>

    <style>
        .row {
            width: 80rem;
            display: block;
        }

        .row:not(:first-child) {
            margin: 2rem 0 !important;
        }

        .member-table {
            text-align: left;
        }

        .member-table th {
            width: 20rem;
        }

        .member-table th, .member-table td {
            padding: 1rem 2rem;
        }

        .member-table input {
            max-width: 30rem
        }

        .member-table .phone input {
            width: 5rem;
        }

        .member-table .password span {
            font-size: 1.1rem;
        }

        .member-table .password #chkPassword,
        .member-table .password #matchPassword {
            font-size: 1.1rem;
            color: red;
        }

    </style>
</head>

<header>
    <%- include ('part/header.ejs') %>
</header>

<body>
<%- include ('part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        내 정보
    </div>

    <div class="row">
        <table class="member-table">
            <tr>
                <th>아이디</th>
                <td id="memberId">아이디</td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td class="password">
                    <input type="password" id="password1" onkeyup="chkPW()">
                    <span>(영문/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</span>
                    <div id="chkPassword"></div>
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td class="password">
                    <input type="password" id="password2" onkeyup="matchPW()">
                    <span id="matchPassword"></span>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td id="memberName">이름</td>
            </tr>
            <tr>
                <th>연락처</th>
                <td class="phone">
                    <select id="phone1">
                        <option value="010" selected>010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    -
                    <input type="text" id="phone2" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                    -
                    <input type="text" id="phone3" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                </td>
            </tr>
        </table>
    </div>


    <div class="row">
        <table class="member-table">
            <tr>
                <th>부서</th>
                <td id="memberName">이름</td>
            </tr>
            <tr>
                <th>연차 일수</th>
                <td id="vacation">이름</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary" style="float: right">변경사항 저장</button>
    </div>
</div>
</body>

</html>

<script>

    setMemberInfo();

    //초기 정보 셋팅
    function setMemberInfo() {
        // ajax 통신
        $.ajax({
            type: "POST",
            url: '<%= api %>' + 'my/mypage',
            headers: {'token': $.cookie('token')},
            contentType: 'application/json',
            dataType: 'json',
            success: function (res) {
                console.log(res)
            },
            error: function () {
            }
        });
    }

    //비밀번호 유효성 체크
    function chkPW() {
        let pw = $("#password1").val();
        let num = pw.search(/[0-9]/g);
        let eng = pw.search(/[a-z]/ig);
        let spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

        if (pw.length < 8 || pw.length > 16) {
            $("#chkPassword").text("8자리 ~ 16자리 이내로 입력해주세요.");
            return false;
        } else if (pw.search(/\s/) != -1) {
            $("#chkPassword").text("비밀번호는 공백 없이 입력해주세요.");
            return false;
        } else if ((num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0)) {
            $("#chkPassword").text("영문, 숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.");
            return false;
        } else {
            $("#chkPassword").empty();
            return true;
        }
    }

    //비밀번호 확인
    function matchPW() {
        let pw1 = $("#password1").val();
        let pw2 = $("#password2").val();

        if (pw1 != pw2) {
            $("#matchPassword").text("비밀번호가 일치하지 않습니다.");
            return false;
        } else {
            $("#matchPassword").empty();
            return true;
        }
    }

</script>