<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('part/head.ejs') %>

    <style>
        .row:not(:first-child) {
            margin: 2rem 0 !important;
            width: 80rem;
        }

        .member-table {
            text-align: left;
        }

        .member-table th {
            width: 20rem;
        }

        .member-table th, .member-table td {
            padding: 1rem 2rem;
        }

        .member-table input {
            width: 30rem
        }
    </style>
</head>

<header>
    <%- include ('part/header.ejs') %>
</header>

<body>
<%- include ('part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        내 정보
    </div>

    <div class="row">
        <table class="member-table">
            <tr>
                <th>아이디</th>
                <td id="memberId">아이디</td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td><input type="password" id="password"></td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td><input type="password"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td id="memberName">이름</td>
            </tr>
            <tr>
                <th>연락처</th>
                <td><input type="text" id="phone"></td>
            </tr>
        </table>
    </div>


    <div class="row">
        <table class="member-table">
            <tr>
                <th>부서</th>
                <td id="memberName">이름</td>
            </tr>
            <tr>
                <th>연차 일수</th>
                <td id="vacation">이름</td>
            </tr>
        </table>
    </div>

    <div class="row">
        <button type="button" class="btn btn-primary">정보 수정</button>
    </div>
</div>
</body>

</html>

<script>

    setMemberInfo();

    function setMemberInfo() {
        // ajax 통신
        $.ajax({
            type: "POST",
            url: '<%= api %>' + 'my/mypage',
            headers: {'token': $.cookie('token')},
            contentType: 'application/json',
            dataType: 'json',
            success: function (res) {
               console.log(res)
            },
            error: function () {
            }
        });
    }

</script>