<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/my/my-page.css?ver=1.1">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        내 정보
    </div>

    <div class="row">
        <table class="member-table">
            <tr>
                <th width="20%">아이디</th>
                <td width="80%" id="memberId"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td class="password">
                    <input type="password" id="password1" onkeyup="chkPW(value, 'chkPassword')">
                    <span>(영문/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</span>
                    <div id="chkPassword"></div>
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td class="password">
                    <input type="password" id="password2"
                           onkeyup="matchPW($('#password1').val(),value, 'matchPassword')">
                    <span id="matchPassword"></span>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td id="memberName"></td>
            </tr>
            <tr>
                <th>연락처</th>
                <td class="phone">
                    <select id="phone1">
                        <option value="010" selected>010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    -
                    <input type="text" id="phone2" maxlength="4"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                    -
                    <input type="text" id="phone3" maxlength="4"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <input type="text" id="email">
                </td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <input type="text" id="address">
                </td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td>
                    <input type="text" style="width: 7rem" maxlength="4" id="birth1"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 년
                    <input type="text" style="width: 5rem" maxlength="2" id="birth2"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 월
                    <input type="text" style="width: 5rem" maxlength="2" id="birth3"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"> 일
                </td>
            </tr>
            <tr>
                <th>
                    프로필 사진
                    <form id="fileForm" method="post" enctype="multipart/form-data">
                        <label class="btn btn-outline-secondary" for="file">이미지선택
                            <input id="file" type="file" name="file" accept="image/jpeg, image/png"
                                   onchange="chkImageFile(id)">
                        </label>
                    </form>
                </th>
                <td>
                    <img id="profileImg" src="/images/img-profile-default.png" style="max-width: 125px">
                    <span id="profileDelBtn" class="badge bg-danger"
                          style="display: none;cursor: pointer;vertical-align: bottom"
                          onclick="deleteProfileImg()">삭제</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin: 1rem 0 3rem 0;display: inline-block">
        <button type="button" class="btn btn-secondary" style="float: right" onclick="chkUpdateMyInfo()">저장</button>
    </div>

    <div class="row">
        <table class="member-table">
            <tr>
                <th width="20%">부서</th>
                <td width="80%" colspan="3" id="departmentName"></td>
            </tr>
            <tr>
                <th width="20%">법정휴가</th>
                <td width="30%" id="totalVacation"></td>
                <th width="20%">추가휴가</th>
                <td width="30%" id="addVacation"></td>
            </tr>
            <tr>
                <th>사용휴가</th>
                <td id="usedVacation"></td>
                <th>잔여휴가</th>
                <td id="residueVacation"></td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('my-page.js') %>

</script>