<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/my/my-page.css?ver=2.8">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        🔹<span id="memberName"></span>님의 추가휴가
    </div>

    <div class="row">
        <button type="button" id="addBtn"
                data-bs-toggle="modal" data-bs-target="#addVacationModal"
                style="float: right;margin: 5px;display: none"
                class="btn btn-success btn-sm">
            휴가 부여하기
        </button>

        <%- include ('../manage/member-vacation-modal.ejs') %>

        <table>
            <thead>
            <tr>
                <th width="10%">No</th>
                <th width="20%">구분</th>
                <th width="20%">일수</th>
                <th width="25%">담당자</th>
                <th width="25%">작성일</th>
            </tr>
            </thead>
            <tbody id="addVacationList">
            </tbody>
        </table>
    </div>

    <div class="row" style="margin: 2rem 0">
        <button type="button" class="btn btn-outline-secondary"
                onclick="history.back()">이전
        </button>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('../manage/member-vacation.js') %>

</script>