<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/my/my-page.css?ver=2.9">
    <link rel="stylesheet" type="text/css" href="/css/manage/manage.css?ver=2.9">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        부서정보
    </div>

    <div class="row" style="margin-bottom: 3rem">
        <div style="float: right;padding: 0;margin-bottom:5px;width: fit-content">
            <button type="button" class="btn btn-sm btn-danger"
                    onclick="alertRemoveDepartment()">
                부서 삭제
            </button>
        </div>
        <table>
            <tbody>
            <tr>
                <th width="20%">부서명</th>
                <td width="30%">
                    <input type="text" id="departmentName" maxlength="20">
                    <span class="badge bg-secondary badge-btn" onclick="modifyDepartmentName()">수정</span>
                </td>
                <th width="20%">파트장</th>
                <td width="30%">
                    <span id="leaderName"></span>
                    <span class="badge bg-secondary badge-btn"
                          data-bs-toggle="modal" data-bs-target="#departmentLeaderModal">변경</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row main-title">
        부서원
    </div>

    <div class="row" style="display: inline-block">
        <div style="float: left;padding: 0;width: fit-content">
            총인원 : <span id="headCount"></span>명
        </div>
        <div style="float: right;padding: 0;width: fit-content">
            <button type="button" class="btn btn-primary"
                    onclick="request('GET', getURL('department', getQuery().id), setDepartmentInfo);"
                    data-bs-toggle="modal" data-bs-target="#memberDepartmentModal">
                부서원 구성
            </button>
        </div>
    </div>

    <div class="row">
        <table class="table-bordered">
            <thead>
            <tr>
                <th width="20%">No</th>
                <th width="40%">이름</th>
                <th width="40%">아이디</th>
            </tr>
            </thead>
            <tbody id="depMemberList">
            </tbody>
        </table>
        <div class="leader-notice">
            * : 현재 파트장
        </div>
    </div>

    <%- include ('department-modal.ejs') %>
</div>
</body>

</html>

<script>

    <%- include ('department-view.js') %>

</script>