<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/manage/manage.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        부서관리
    </div>

    <div class="row" style="display: inline-block">
        <button type="button" class="btn btn-secondary" style="float: right"
                data-bs-toggle="modal" data-bs-target="#createDepartmentModal">부서생성
        </button>
    </div>

    <%- include ('department-modal.ejs') %>

    <div class="row">
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>부서명</th>
                <th>파트장</th>
                <th>부서인원수</th>
            </tr>
            </thead>
            <tbody id="departmentList">
            </tbody>
        </table>
    </div>
</div>
</body>

</html>

<script>


    <%- include ('department.js') %>

</script>