<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/manage/manage.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        엑셀관리
    </div>

    <div class="row">
        <button type="button" class="col btn btn-primary">Primary</button>
        <button type="button" class="col btn btn-primary">Primary</button>
        <button type="button" class="col btn btn-primary">Primary</button>
    </div>
    <div class="row">
        <button type="button" class="col btn btn-primary">Primary</button>
        <button type="button" class="col btn btn-primary">Primary</button>
        <button type="button" class="col btn btn-primary">Primary</button>
    </div>
</div>
</body>

</html>

<script>
    <%- include ('excel.js') %>

</script>