<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/manage/manage.css?ver=2.6">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        직원관리
    </div>

    <div class="row">
        <div class="btn-row">
            <div>
                <button type="button" class="btn btn-sm btn-outline-success"
                        data-bs-toggle="modal" data-bs-target="#vacationExcelModal">
                    전직원 휴가 기록 엑셀 다운로드
                </button>
                <button type="button" class="btn btn-sm btn-outline-success"
                        data-bs-toggle="modal" data-bs-target="#attendanceExcelModal">
                    전직원 출퇴근 기록 엑셀 다운로드
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary"
                        onclick="location.href='/manage/member/create'">직원계정생성
                </button>
            </div>
        </div>

    </div>

    <%- include ('member-modal.ejs') %>

    <div class="row">
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>이름</th>
                <th>아이디</th>
                <th>부서</th>
                <th>연락처</th>
                <th>입사일</th>
            </tr>
            </thead>
            <tbody id="memberList">
            </tbody>
        </table>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('member.js') %>

</script>