<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/my/my-page.css?ver=1.1">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        직원 계정 생성
    </div>

    <div class="row" style="margin-bottom: 2rem">
        <div style="font-size: 1.2rem;text-align: right;font-weight: bold">
            * 표시는 필수 입력 정보입니다.
        </div>

        <table class="member-table">
            <tr>
                <th width="20%">아이디 *</th>
                <td width="80%">
                    <input type="text" id="memberId"  maxlength="15" onfocusout="chkMemberId(value)">
                    <span id="chkID">(영어소문자/숫자,6~16자)</span>
                </td>
            </tr>
            <tr>
                <th>비밀번호 *</th>
                <td class="password">
                    <input type="password" id="password1" onkeyup="chkPW(value, 'chkPassword')">
                    <span>(영문/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</span>
                    <div id="chkPassword"></div>
                </td>
            </tr>
            <tr>
                <th>비밀번호 확인 *</th>
                <td class="password">
                    <input type="password" id="password2" onkeyup="matchPW($('#password1').val(),value, 'matchPassword')">
                    <span id="matchPassword"></span>
                </td>
            </tr>
            <tr>
                <th>이름 *</th>
                <td>
                    <input type="text" id="memberName">
                </td>
            </tr>
            <tr>
                <th>연락처 *</th>
                <td class="phone">
                    <select id="phone1">
                        <option value="010" selected>010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                        <option value="018">018</option>
                        <option value="019">019</option>
                    </select>
                    -
                    <input type="text" id="phone2" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                    -
                    <input type="text" id="phone3" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                </td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>
                    <input type="text" id="email">
                </td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <input type="text" id="address">
                </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <table class="member-table">
            <tr>
                <th width="20%">부서</th>
                <td width="30%">
                    <select id="departmentName">
                    </select>
                </td>
                <th width="20%">입사일 *</th>
                <td width="30%">
                    <input type="date" id="joiningDate">
                </td>
            </tr>
        </table>
    </div>

    <div class="row" style="margin: 2rem 0 3rem 0;display: inline-block">
        <div style="float: right;padding: 0;width: fit-content">
            <button type="button" class="btn btn-secondary" onclick="location.href='/manage/member'">목록으로</button>
            <button type="button" class="btn btn-primary" onclick="chkCreateMemberInfo()">저장</button>
        </div>
    </div>
</div>
</body>

</html>

<script>


    <%- include ('member-create.js') %>

</script>