<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/manage/manage.css?ver=2.7">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        출근기록관리
    </div>

    <div class="row">
        <div class="record-search">
            조회날짜 &nbsp;
            <input type="date" id="searchDate"> &nbsp;
            <button class="btn btn-sm btn-success"
                    style="font-size: 1.1rem !important;"
                    onclick="searchAttendanceRecord($('#searchDate').val())">검색
            </button>
        </div>
        <div class="record-guide">
            ※ PC 브라우저의 고유 ID가 중복되는 명단만 추출합니다.
        </div>
    </div>

    <div class="row">
        <table>
            <thead>
            <tr>
                <th width="10%">No</th>
                <th width="25%">이름</th>
                <th width="15%">날짜</th>
                <th width="50%">고유 ID</th>
            </tr>
            </thead>
            <tbody id="recordList">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('record.js') %>

</script>