<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/login/login.css?ver=2.0">
</head>

<body>

<div class="login-card">
    <img class="logo" src="/images/logo3.png">

    <input type="text" id="id" placeholder="아이디" onkeyup="enterKey();">
    <input type="password" id="password" placeholder="비밀번호" onkeyup="enterKey();">

    <div class="form-check save-id">
        <input class="form-check-input" type="checkbox" value="" id="saveId">
        <label class="form-check-label" for="saveId">
            아이디 저장
        </label>
    </div>

    <button type="submit" id="login" class="login login-submit">로그인</button>
</div>
</body>

</html>

<script>

    <%- include ('login.js') %>
    <%- include ('../common/request.js') %>
    <%- include ('../common/check-data.js') %>

</script>