<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/vacation/vacation.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main" class="vacation-apply">
    <div class="row main-title">
        휴가신청
    </div>
    <div class="row">
        <table class="apply-table">
            <tbody>
            <tr>
                <th>휴가유형</th>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="full" name="vacation" value="연차">
                        <label class="form-check-label" for="full">연차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="halfAM" name="vacation" value="오전반차">
                        <label class="form-check-label" for="halfAM">오전반차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="halfPM" name="vacation" value="오후반차">
                        <label class="form-check-label" for="halfPM">오후반차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="official" name="vacation" value="공가">
                        <label class="form-check-label" for="official">공가</label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="etc" name="vacation" value="기타">
                        <label class="form-check-label" for="etc">기타</label>
                        <span><input type="time" id="startTime" readonly> ~ <input type="time" id="endTime" readonly></span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>휴가사유</th>
                <td>
                    <textarea id="memo" class="scroll"></textarea>
                </td>
            </tr>
            <tr>
                <th>휴가기간</th>
                <td>
                    <input type="date" id="startDate"> <span id="endView">~ <input type="date" id="endDate"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="bottom">
            <button type="button" class="btn btn-secondary" onclick="location.href='/vacation'">목록으로</button>
            <button type="button" class="btn btn-primary" onclick="createVacation()">제출하기</button>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('vacation-create.js') %>
</script>