<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/vacation/vacation.css?ver=1.3">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main" class="vacation-apply">
    <div class="row main-title">
        휴가신청
    </div>
    <div class="row">
        <table class="apply-table">
            <tbody>
            <tr>
                <th>휴가유형</th>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="full" name="vacation" value="연차">
                        <label class="form-check-label" for="full">연차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="halfAM" name="vacation" value="오전반차">
                        <label class="form-check-label" for="halfAM">오전반차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="halfPM" name="vacation" value="오후반차">
                        <label class="form-check-label" for="halfPM">오후반차</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="official" name="vacation" value="공가">
                        <label class="form-check-label" for="official">공가</label>
                    </div>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="etc" name="vacation" value="시간제">
                        <label class="form-check-label" for="etc">시간제 - </label>
                        <span>
                            <span class="time-select">
                                <select id="startTime1" disabled>
                                    <option value="am" selected>오전</option>
                                    <option value="pm">오후</option>
                                </select>
                                <select id="startTime2" disabled>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option selected>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                :
                                <input type="text" id="startTime3" maxlength="2" value="00" disabled
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </span>
                            ~
                            <span class="time-select">
                                <select id="endTime1" disabled>
                                    <option value="am">오전</option>
                                    <option value="pm" selected>오후</option>
                                </select>
                                <select id="endTime2" disabled>
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option selected>06</option>
                                    <option>07</option>
                                    <option>08</option>
                                    <option>09</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                                :
                                <input type="text" id="endTime3" maxlength="2" value="00" disabled
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                            </span>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <th>휴가사유</th>
                <td>
                    <textarea id="memo" class="scroll"></textarea>
                </td>
            </tr>
            <tr>
                <th>휴가기간</th>
                <td>
                    <input type="date" id="startDate"> <span id="endView">~ <input type="date" id="endDate"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="bottom">
            <button type="button" class="btn btn-secondary" onclick="location.href='/vacation'">목록으로</button>
            <button type="button" class="btn btn-primary" onclick="createVacation()">제출하기</button>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('vacation-create.js') %>
</script>