<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/vacation/vacation.css?ver=2.3">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main" class="vacation">
    <div class="row" style="margin-bottom: 10rem !important;">
        <div class="row main-title">
            휴가신청내역
        </div>
        <div class="row" style="display: inline-block">
            <div style="float: left;width: fit-content">
                <select id="year" style="width: 9rem" onchange="searchVacationList()">
                </select>
            </div>
            <div style="float: right;width: fit-content">
                <button type="button" class="btn btn-outline-success">잔여 휴가 일수 : <span id="residueVacation"></span></button>
                <button type="button" class="btn btn-success" onclick="location.href='/vacation/apply'">
                    휴가신청
                </button>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>신청일</th>
                    <th>휴가구분</th>
                    <th>시작일</th>
                    <th>종료일</th>
                    <th>승인여부</th>
                </tr>
                </thead>
                <tbody id="confirmVacationList">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="row main-title">
            승인대기중
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>신청일</th>
                    <th>휴가구분</th>
                    <th>시작일</th>
                    <th>종료일</th>
                </tr>
                </thead>
                <tbody id="beforeVacationList">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('vacation.js') %>
</script>