<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/attendance/attendance.css?ver=2.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row" style="min-width: 120rem">
        <div class="col-9">
            <div id="calendar"></div>
        </div>
        <div class="col-3">
            <div class="row" style="margin-top: 3.5rem">
                <div class="content-box" id="attendanceForm" style="display: none">
                    <div class="main-title" id="attendanceTitle">

                    </div>
                    <hr>
                    <div class="scroll" id="attendanceMemo">
                    </div>
                    <hr>
                    <button type="button" class="btn btn-primary" onclick="setApplyForm()" style="float: right"
                            data-bs-toggle="modal" data-bs-target="#attendanceModal">정정요청
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="content-box">
                    <div class="main-title">승인대기중</div>
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>정정희망날짜</th>
                            <th>요청일</th>
                        </tr>
                        </thead>
                        <tbody id="myApplyList">
                        </tbody>
                    </table>
                </div>
            </div>
            <%- include ('attendance-modal.ejs') %>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('attendance.js') %>

</script>