<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/board/board.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        공지게시판-글쓰기
    </div>

    <div class="row">
        <table class="board-write">
            <tbody>
            <tr>
                <th width="16%">제목</th>
                <td width="84%" colspan="5">
                    <input type="text" maxlength="80" id="title">
                </td>
            </tr>
            <tr>
                <th width="16%">첨부파일</th>
                <td width="84%" colspan="5">
                    <form id="fileForm" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" multiple="true"></form>
                </td>
            </tr>
            <tr>
                <th width="16%">참조</th>
                <td width="84%" colspan="5">
                    <select class="form-control" id="reference" multiple="multiple">
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <textarea style="display:none;" name="content" id="content"
                              rows="20" cols="100"></textarea>
                    <p class="count" style="float: right;font-size: 1.3rem;font-weight: bold"><span>0</span> / 40000</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row btn-row">
        <div>
            <button type="button" class="btn btn-primary" onclick="saveBoard()">저장</button>
        </div>
    </div>

</div>
</body>

</html>

<script>

    let boardType = 'notice';
    <%- include ('board-write.js') %>

</script>