<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/board/board.css?ver=2.7">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row main-title">
        업무게시판
    </div>

    <div class="row">
        <table class="board-detail">
            <tbody>
            <tr>
                <th width="16%">제목</th>
                <td width="84%" colspan="5" id="title"></td>
            </tr>
            <tr>
                <th width="16%">작성자</th>
                <td width="34%" id="writerMember"></td>
                <th width="16%">부서</th>
                <td width="34%" id="writerDepartment"></td>
            </tr>
            <tr>
                <th width="16%">등록일</th>
                <td width="34%" id="creatDate"></td>
                <th width="16%">조회</th>
                <td width="34%" id="count"></td>
            </tr>
            <tr>
                <th width="16%">첨부파일</th>
                <td width="84%" colspan="5">
                    <div class="scroll" id="downLoadFileList"></div>
                </td>
            </tr>
            <tr>
                <th width="16%">참조</th>
                <td width="84%" colspan="5" id="reference"></td>
            </tr>
            <tr>
                <td colspan="6" id="content"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row ">
        <div class="btn-row">
            <div id="controlBtn" style="display: none">
                <button type="button" class="btn btn-secondary"
                        onclick="modifyBoard()">수정
                </button>
                <button type="button" class="btn btn-danger"
                        onclick="deleteAlertBoard()">삭제
                </button>
            </div>

            <div>
                <button type="button" class="btn btn-outline-dark"
                        onclick="history.back()">이전
                </button>
            </div>
        </div>
    </div>

</div>
</body>

</html>

<script>

    let boardType = 'work';
    <%- include ('board-view.js') %>

</script>