<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/approve/approve.css?version=1.2">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row">
        <div class="row main-title">
            출퇴근 정정요청 목록
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>No</th>
                    <th>정정희망일</th>
                    <th>작성자</th>
                    <th>요청일</th>
                </tr>
                </thead>
                <tbody id="attendanceList">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>

<script>

    <%- include ('attendance.js') %>
</script>