<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <%- include ('../part/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/approve/approve.css?ver=2.8">
</head>

<header>
    <%- include ('../part/header.ejs') %>
</header>

<body>
<%- include ('../part/menu.ejs') %>
<div id="main">
    <div class="row">
        <div class="row main-title">
            휴가 승인 대기 목록
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th width="9%">No</th>
                    <th width="17%">휴가구분</th>
                    <th width="20%">시작일</th>
                    <th width="20%">종료일</th>
                    <th width="18%">작성자</th>
                    <th width="20%">신청일</th>
                </tr>
                </thead>
                <tbody id="vacationList">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="row main-title">
            <div>
                휴가 승인/거절 목록
            </div>

            <div class="vacation-search">
                조회기간
                &nbsp;
                <input type="date" id="searchStartDate">
                &nbsp;~&nbsp;
                <input type="date" id="searchEndDate"> &nbsp;
                <button class="btn btn-sm btn-success"
                        style="font-size: 1.1rem !important;"
                        onclick="readVacation()">검색
                </button>
            </div>
        </div>

        <div class="row">
            <table>
                <thead>
                <tr>
                    <th width="9%">No</th>
                    <th width="17%">휴가구분</th>
                    <th width="20%">시작일</th>
                    <th width="20%">종료일</th>
                    <th width="18%">작성자</th>
                    <th width="20%">신청일</th>
                </tr>
                </thead>
                <tbody id="vacationHistoryList">
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>

<script>
    <%- include ('vacation.js') %>
</script>